<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        h1{
            font-size: 24px;
            background-color: black;
            color: white;
            text-align: center;
            margin: 0;
            padding: 25px;
        }
    </style>
</head>
<body>
    <h1>Olá, seja bem-vindo ás minhas atividades em Python</h1>
    <ul>
        <li><a href="/ativ1">Atividade 01</a></li>
        <li><a href="/ativ2">Atividade 02</a></li>
        <li><a href="/ativ3">Atividade 03</a></li>
        <li><a href="/ativ4">Atividade 04</a></li>
        <li><a href="/ativ5">Atividade 05</a></li>
        <li><a href="/ativ6">Atividade 06</a></li>
        <li><a href="/ativ7">Atividade 07</a></li>
        <li><a href="/ativ8">Atividade 08</a></li>
        <li><a href="/ativ9">Atividade 09</a></li>
        <li><a href="/ativ10">Atividade 10</a></li>
        <li><a href="/ativ11">Atividade 11</a></li>
        <li><a href="/ativ12">Atividade 12</a></li>
        <li><a href="/ativ13">Atividade 13</a></li>    
        <li><a href="/ativ14">Atividade 14</a></li>     
    </ul>
</body>
</html>