<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/exe04_submit" method="post">
        <label for="nome">Nome</label>
        <input type="text" id="nota1" name="nota1" required>
        <input type="text" id="nota2" name="nota2" required>
        <input type="text" id="nota3" name="nota3" required>
        <input type="text" id="nota4" name="nota4" required>
        <input type="submit" value="ENVIAR">
    </form>
</body>
</html>