<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #e4e4e4;
        }
        h1{
            text-align: center;
        }
        form{
            background-color: black;
            margin: 0 auto;
            width: 600px;
            text-align: center;
        }
        form label{
            color: white;
        }

    </style>
</head>
<body>
    <h1>Calculadora de salário</h1>
    <form action="/calchoras_submit" method="post">
        <label for="valor_hora">Digite quanto você ganha por hora: </label>
        <br>
        <input type="text" name="valor" id="valor">
        <br>
        <label for="valor_salario">Digite quantas horas você trabalha: </label>
        <br>
        <input type="text" name="horas" id="horas">
        <br>
        <input type="submit" value="CALCULAR">
    </form>
    {% if dados %}
        <h2>Dados recebidos do Backend...</h2>
        <h4>Eu trabalho {{ dados.horas }} horas.</h4>
        <h4>E eu ganho em torno de {{ dados.salario }}.</h4>
    {% endif %}
    
</body>
</html>