<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #e4e4e4;
        }
        h1{
            text-align: center;
        }
        form{
            background-color: black;
            margin: 0 auto;
            width: 600px;
            text-align: center;
        }
        form label{
            color: white;
        }

    </style>
</head>
<body>
    <h1>Calculando o seu peso atual e mostrando qual seria o ideal</h1>
    <form action="/peso_submit" method="post">
        <label for="altura_metros">Digite qual é a sua alturam em metros: </label>
        <br>
        <input type="text" name="altura" id="altura">
        <br>
        <label for="peso_kilos">Digite o seu peso: </label>
        <br>
        <input type="text" name="peso" id="peso">
        <br>
        <input type="submit" value="CONVERTER">
    </form>
    {% if dados %}
        <h2>Dados recebidos do Backend...</h2>
        <h4>Seu peso atual é de {{ dados.pesoatual }} quilos</h4>
        <h4>Mas seu peso ideal é de: {{ dados.pesoIdeal }} quilos</h4>
    {% endif %}
    
</body>
</html>