<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #e4e4e4;
        }
        h1{
            text-align: center;
        }
        form{
            background-color: black;
            margin: 0 auto;
            width: 600px;
            text-align: center;
        }
        form label{
            color: white;
        }

    </style>
</head>
<body>
    <h1>Calculando quantos salários mínimos você recebe</h1>
    <form action="/salario_submit" method="post">
        <label for="salario_minimo">Digite o valor do salário mínimo: </label>
        <br>
        <input type="text" name="salarioMin" id="salarioMin">
        <br>
        <label for="salario_fixo">Digite quanto você ganha </label>
        <br>
        <input type="text" name="salarioGanho" id="salarioGanho">
        <br>
        <input type="submit" value="CONVERTER">
    </form>
    {% if dados %}
        <h2>Dados recebidos do Backend...</h2>
        <h4>Eu ganho {{ dados.salario }} vezes o salário mínimo</h4>
    {% endif %}
    
</body>
</html>