<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        h1{
            font-size: 24px;
            background-color: black;
            color: white;
            text-align: center;
            margin: 0;
            padding: 25px;          
        }
    </style>
</head>
<body>
    <h1>verificando se um número é positivo</h1>
    <form action="/ativ2_submit" method="post">
    <label for="num1">Digite um número:</label>
    <input type="text" id="num1" name="num1"><br><br>
    <input type="submit" value="Enviar">
</form>
    {% if dados %}
    <h1>Segundo o que foi verificado o número é</h1>
    <h1>{{ dados.num1 }}</h1>
    {% endif %}
</body>
</html>